
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><span>Trang chủ</span></li>

            <li class="active"><span>@ViewData["Title"]</span></li>
        </ol>
    </div>
</div>
<div class="about-1 ">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center about-title">
                <h2> Về chúng tôi</h2>
                <p>
                    Đến với Thẩm Mỹ Viện <span class="text-sht"> Sao hà thành</span> bạn sẽ được làm việc trực tiếp với đội ngũ bác sĩ hàng đầu hiện nay trong lĩnh vực phẫu thuật thẩm mỹ và chăm sóc da công nghệ cao.Thẩm mỹ viện <span class="text-sht"> Sao hà thành</span> là đơn vị được Sở Y tế cấp giấy phép hoạt động trong lĩnh vực phẫu thuật thẩm mỹ, thời gian làm việc từ 8h - 21h tất cả các ngày trong tuần.
                </p>
            </div>
            <div class="row text-center box-img">
                <div class="">
                    <div class="col-md-4 col-xs-12">
                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/img-about-item-2.png" />
                        </div>

                        <div class="number">+5000</div>
                        <div class="title-img">Khách hàng hài lòng</div>
                    </div>
                    <div class="col-md-4 col-xs-12">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/img-about-item-2.png" />
                        </div>

                        <div class="number">3</div>
                        <div class="title-img">Chứng nhận</div>
                    </div>
                    <div class="col-md-4 col-xs-12">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/img-about-item-2.png" />
                        </div>

                        <div class="number">5*</div>
                        <div class="title-img">Hệ thống thẩm mỹ</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="about-2">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="col-md-4">
                <div class="about-2-box-left">
                    <img style="height: 505px;" class="co-gai img img-responsive" src="~/img/img-about-2.png" />
                </div>
               
            </div>
            <div class="col-md-8">
                <div class="about-2-box-right">
                    <h3>Sứ mệnh của Sao Hà Thành</h3>
                    <p> <span class="text-sht"> Sao hà thành</span> tự hào là đơn vị tiên phong ứng dụng công nghệ tiên tiến và độc quyền Endo-S tại Việt Nam với phương châm “xâm lấn tối thiểu mang lại hiệu quả tối đa”. Endo-S một hình thức phẫu thuật thẩm mỹ của bác sĩ <span class="text-sht"> Sao hà thành</span></p>
                    <div>
                        <div class="row box-right-component">
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 box-right-item">
                                <img src="~/img/su-menh-item-1.png" />
                                <div><h6>Tư vấn thăm khám miễn phí</h6></div>
                                <div> <p>Ekip bác sĩ và chuyên gia của Sao Hà Thành đặc biệt có thế mạnh trong phẫu thuật hút </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-1 about-3">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Dịch Vụ Nổi Bật</h2>
                <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span>   không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng</p>
                <p>
                    Tại <span class="text-sht"> Sao hà thành</span> bên cạnh các phương pháp làm đẹp hiện hành, chúng tôi còn ứng dụng những phương pháp làm đẹp tân tiến từ Hàn, Mỹ và Châu Âu để đáp ứng nhu cầu làm đẹp của khách hàng. Khi đến với  <span class="text-sht"> Sao hà thành</span> khách hàng sẽ được tư vấn nhiệt tình để có thể tìm được phương pháp làm đẹp ưng ý nhất.
                </p>
            </div>
            <div class="row text-center box-img">
                <div class="">
                    <div class="col-md-3 col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="btn-img">
                            <span>
                                Hút mỡ
                            </span>
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="btn-img">
                            <span>
                                Hút mỡ
                            </span>
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="btn-img">
                            <span>
                                Hút mỡ
                            </span>
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="btn-img">
                            <span>
                                Hút mỡ
                            </span>
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="about-3-flower">
        <img class="img img-responsive" src="~/img/about-3-flower.png" />
    </div>
</div>
<div class="about-4">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center about-title featured-text">
                <h2> Đội ngũ Bác Sĩ chuyên nghiệp</h2>
                <p>
                    Tại <span class="text-sht"> Sao Hà Thành</span>, bên cạnh các phương pháp làm đẹp hiện hành, chúng tôi còn ứng dụng những phương pháp làm đẹp tân tiến từ Hàn, Mỹ và Châu Âu để đáp ứng nhu cầu làm đẹp của khách hàng. Khi đến với <span class="text-sht"> Sao hà thành</span> , khách hàng sẽ được tư vấn nhiệt tình để có thể tìm được phương pháp làm đẹp ưng ý nhất.
                </p>
            </div>
            <div class="row about-4-box-img">
                <div class="col-md-6 col-xs-12 about-4-box-left">
                    <div class="img-big-about4">
                        <img class="img img-responsive" src="~/img/Layer 105.png" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 about-4-box-right">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="about-4-box-right-item">
                                <img class="img img-responsive" src="~/img/bs-1.png" />
                                <div class="bs-title">
                                    Dr. Nguyễn Văn a
                                </div>
                                <p>
                                    Bác sỹ thẩm mỹ có chuyên môn
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="about-4-box-right-item">
                                <img class="img img-responsive" src="~/img/bs-2.png" />
                                <div class="bs-title">
                                    Dr. Nguyễn Văn a
                                </div>
                                <p>
                                    Bác sỹ thẩm mỹ có chuyên môn
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<div class="about-5">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center about-title featured-text">
                <h2> Tại sao lựa chọn Sao Hà Thành?</h2>
                <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng.</p>
            </div>
        </div>
        <div class="row about-5-box-img">
            <div class="col-md-6 col-xs-12 about-5-item-left">
                <div class="row about-5-comp">
                    <div class="col-md-6 col-md-push-6 col-xs-4  about-5-item-icon">
                        <img src="~/img/about-5-item.png" />
                    </div>
                    <div class="col-md-6 col-md-pull-6 col-xs-8  about-5-item-content">
                        <h5>Công nghệ số 1</h5>
                        <p>Bác sĩ Trần Đức Phương – người chịu trách nhiệm chuyên môn của Sao Hà Thành, đã có 16 năm sống và làm việc tại Mỹ, công tác tại </p>
                    </div>

                </div>
                <div class="row about-5-comp">
                    <div class="col-md-6 col-md-push-6 col-xs-4  about-5-item-icon">
                        <img src="~/img/about-5-item.png" />
                    </div>
                    <div class="col-md-6 col-md-pull-6 col-xs-8  about-5-item-content">
                        <h5>Công nghệ số 1</h5>
                        <p>Bác sĩ Trần Đức Phương – người chịu trách nhiệm chuyên môn của Sao Hà Thành, đã có 16 năm sống và làm việc tại Mỹ, công tác tại </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xs-12 about-5-item-right">
                <div class="row about-5-comp">
                    <div class="col-md-6 col-xs-4 about-5-item-icon">
                        <img src="~/img/about-5-item.png" />
                    </div>
                    <div class="col-md-6 col-xs-8 about-5-item-content">
                        <h5>Công nghệ số 1</h5>
                        <p>Bác sĩ Trần Đức Phương – người chịu trách nhiệm chuyên môn của Sao Hà Thành, đã có 16 năm sống và làm việc tại Mỹ, công tác tại </p>
                    </div>

                </div>
                <div class="row about-5-comp">
                    <div class="col-md-6 col-xs-4 about-5-item-icon">
                        <img src="~/img/about-5-item.png" />
                    </div>
                    <div class="col-md-6 col-xs-8 about-5-item-content">
                        <h5>Công nghệ số 1</h5>
                        <p>Bác sĩ Trần Đức Phương – người chịu trách nhiệm chuyên môn của Sao Hà Thành, đã có 16 năm sống và làm việc tại Mỹ, công tác tại </p>
                    </div>

                </div>
            </div>
        </div>
            </div>
        </div>

<div class="about-6">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center about-title">
                <h2> Hệ thống thẩm mỹ Sao Hà Thành</h2>
                <p>
                    Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng.
                </p>
                </div>
            <div class="row about-6-box-item">
                <div class="col-md-6 col-xs-12 about-6-box-item-left">
                    <div class="item-content-branch-1">
                        <div class="conten-branch">
                            <h5>Chi nhánh Hà Nội</h5>
                            <p>
                                Địa chỉ: 41 Trích Sài, Tây Hồ,
                                Hà Nội
                            </p>
                            <p>
                                Hotline: 0833. 52. 8888
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 about-6-box-item-right">
                    <div class="item-content-branch-2">
                        <div class="conten-branch">
                            <h5>Chi Nhánh Hồ Chí minh</h5>
                            <p>
                                Địa chỉ: 29 A Cao Bá Nhạ, Quận 1
                                TP Hồ Chí Minh
                            </p>
                            <p>
                                Hotline: 0833. 52. 8888
                            </p>
                        </div>
                  
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>
@section scripts{ 

}
