
@{
    ViewData["Title"] = "Confide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><span>Trang chủ</span></li>

            <li class="active"><span>Nâng ngực</span></li>
        </ol>
    </div>
</div>
<div class="cate-1">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Hành trình làm đẹp cho hàng nghìn Khách Hàng</h2>
            </div>
            <div class="row box-cate">
                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/confi-item-1.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/confi-item-2.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/confi-item-3.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

            </div>
            <div class="view-more">
                <button type="button" class="btn btn-view-more">Xem thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="cate-2">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Video của Khách hàng</h2>
            </div>
            <div class="row box-cate">
                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/video-cus-1.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/video-cus-2.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 cate-item">
                    <div>
                        <div class="item-img">
                            <a href="">
                                <img class="img-responsive" src="~/img/video-cus-3.png" />
                            </a>
                        </div>
                        <div class="item-title">
                            <h4>
                                <a href="#">
                                    Phép màu tái sinh lung linh tỏa sáng
                                    Trẻ mãi không già
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

            </div>
            <div class="view-more">
                <button type="button" class="btn btn-view-more">Xem thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="section-4 cate-3">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Vì sao lại chọn Sao Hà Thành?</h2>
                <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao hà thành không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng.</p>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel img-before-after">

                        <div class="slides" style="width: 930px; height: 330px;">


                            <div class="slideItem">

                                <a href="#"> <img src="/img/nhom-bac-si.png"> </a>
                                <div class="title-img">aaaaaaaaaaaaaaa</div>

                            </div>
                            <div class="slideItem">
                                <a href="#"> <img src="/img/room-1.png"> </a>
                                <div class="title-img">bbbbbbbbbbb</div>
                            </div>
                            <div class="slideItem">
                                <a href="#"> <img src="/img/nhom-bac-si.png"> </a>
                                <div class="title-img">ccccccccccc</div>
                            </div>
                            <div class="slideItem">
                                <a href="#"> <img src="/img/room-1.png" "> </a>
                                <div class="title-img">ddddddddddddd</div>
                            </div>
                            <div class="slideItem">
                                <a href="#"> <img src="/img/nhom-bac-si.png"> </a>
                                <div class="title-img">eeeeeeeeeee</div>
                            </div>
                            <div class="slideItem">
                                <a href="#"> <img src="/img/nhom-bac-si.png"> </a>
                                <div class="title-img">fffffffffffffffffffff</div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="cate-4">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Tâm sự của Khách Hàng</h2>
            </div>
            <div class="owl-carousel-confi row stories-cont">
                <div class=" ">
                    <div class="portlet light loi-ich">
                        <div class="photo">
                            <img src="/img/girl-1.png" alt="" class="img-responsive">
                        </div>

                        <p>
                            Là một kiện tướng Dance Sport quốc tế, Khánh Thi không cho phép cơ thể có 1 chút mỡ thừa nào. Nhưng sau khi sinh Kubi, cơ thể của Khánh Thi thay đổi quá nhanh. Khánh Thi
                        </p>
                        <div class="title">
                            <h5> Mc Như Quỳnh</h5>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="portlet light loi-ich">
                        <div class="photo">
                            <img src="/img/girl-1.png" alt="" class="img-responsive">
                        </div>
                        <p>
                            Là một kiện tướng Dance Sport quốc tế, Khánh Thi không cho phép cơ thể có 1 chút mỡ thừa nào. Nhưng sau khi sinh Kubi, cơ thể của Khánh Thi thay đổi quá nhanh. Khánh Thi
                        </p>
                        <div class="title">
                            <h5>  Mc Như Quỳnh</h5>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="portlet light loi-ich">
                        <div class="photo">
                            <img src="/img/girl-1.png" alt="" class="img-responsive">
                        </div>
                        <p>
                            Là một kiện tướng Dance Sport quốc tế, Khánh Thi không cho phép cơ thể có 1 chút mỡ thừa nào. Nhưng sau khi sinh Kubi, cơ thể của Khánh Thi thay đổi quá nhanh. Khánh Thi
                        </p>
                        <div class="title">
                            <h5>  Mc Như Quỳnh</h5>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="portlet light loi-ich">
                        <div class="photo">
                            <img src="/img/girl-1.png" alt="" class="img-responsive">
                        </div>
                        <p>
                            Là một kiện tướng Dance Sport quốc tế, Khánh Thi không cho phép cơ thể có 1 chút mỡ thừa nào. Nhưng sau khi sinh Kubi, cơ thể của Khánh Thi thay đổi quá nhanh. Khánh Thi
                        </p>
                        <div class="title">
                            <h5>  Mc Như Quỳnh</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('.img-before-after').carousel({
            hAlign: 'center',
            vAlign: 'center',
            hMargin: 0.4,
            vMargin: 0.2,
            carouselHeight: 330,
            directionNav: true,
            shadow: false,
            buttonNav: 'bullets',
            utoplayInterval: 10000,
            autoplayTimeout: 4000,
            mouse: true,
            autoplay: true,
            speed: 500
        
        });
        $('.owl-carousel-confi').owlCarousel({
            items: 3,
            margin: 15,
            navigation: false,
            owl2row: true,
            navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
            loop: true,
            autoplay: true,
            responsiveClass: true,
            nav: true,
            dots: false,
            autoHeight: false,
            autoplayTimeout: 4000,
            autoplayHoverPause: false,
            responsive: {
                0: { items: 1 },
                414: { items: 1 },
                640: { items: 2 },
                768: { items: 3 },
                1024: { items: 3 },
            }
        })

    </script>
}
