
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><span>Trang chủ</span></li>

            <li class="active"><span>Liên hệ</span></li>
        </ol>
    </div>
</div>
<div class="section-1 contact-1">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Địa chỉ liên hệ thẩm mỹ viện Sao hà thành</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 contact-1-address">
                <h4>Trụ sở chính:</h4>
                <h5>
                    Trụ sở: 29A Cao Bá Nhạ, Quận 1, TP. HCM.
                </h5>
                <p>
                    Hotline: 0833.52.8888
                </p>
                <p>
                    Inbox: m.me/thammy.saohathanh
                </p>
                <p>
                    Website:saohathanh.com
                </p>
                <p>
                    Fanpage:<a href="https://www.facebook.com/thammy.saohathanh/" target="_blank">https://www.facebook.com/thammy.saohathanh/</a>
                </p>
                <div class="gg-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4046478029077!2d105.82051505115025!3d21.016489085936342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7bd5f47b03%3A0x1bd0e97562efdbaf!2zSG_DoG5nIEPhuqd1LCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1577091973770!5m2!1svi!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 contact-1-address">
                <h4>Trụ sở chính:</h4>
                <h5>
                    Trụ sở: 29A Cao Bá Nhạ, Quận 1, TP. HCM.
                </h5>
                <p>
                    Hotline: 0833.52.8888
                </p>
                <p>
                    Inbox: m.me/thammy.saohathanh
                </p>
                <p>
                    Website:saohathanh.com
                </p>
                <p>
                    Fanpage:<a href="https://www.facebook.com/thammy.saohathanh/" target="_blank">https://www.facebook.com/thammy.saohathanh/</a>
                </p>
                <div class="gg-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4046478029077!2d105.82051505115025!3d21.016489085936342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7bd5f47b03%3A0x1bd0e97562efdbaf!2zSG_DoG5nIEPhuqd1LCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1577091973770!5m2!1svi!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                </div>
            </div>
        </div>
        <div class="row form-contact">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="featured-text">
                    Gửi thông tin
                </h2>
                <p>
                    Nhận tư vấn từ bác sĩ chuyên khoa
                </p>
                <form>

                    <div class="form-group row">
                  
                        <label class="col-md-3">Full name1: </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div> <!-- form-row end.// -->
                    <div class="form-group row">
                        <label class="col-md-3">Email: </label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                  <!-- form-group end.// -->
                    <div class="form-group row">
                        <label class="col-md-3">Phone number: </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>


                        @*<small class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <!-- form-group end.// -->
                    <!-- form-row.// -->
                    <div class="form-group row">
                        <label class="col-md-3">Address: </label>
                        <div class="col-md-9">
                            <input class="form-control" type="password">
                        </div>
                    </div> <!-- form-group end.// -->
                    <div class="form-group row">
                        <label class="col-md-3">Title: </label>
                        <div class="col-md-9">
                            <input class="form-control" type="password">
                        </div>


                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">Content</label>
                        <div class="col-md-9">    <textarea class="form-control"></textarea></div>
                    </div>
                    <div class="form-group  row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><button type="submit" class="btn "> Gửi  </button></div>
                        
                    </div> <!-- form-group// -->


                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="img img-responsive" src="~/img/img-form-contact.png" />
            </div>
        </div>
    
    </div>
    </div>

