
@{
    ViewData["Title"] = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-wrapper" id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><span>Trang chủ</span></li>

            <li class="active"><span>Nâng ngực</span></li>
        </ol>
    </div>
</div>
<div class="service-1">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Các dịch vụ nâng ngực tại Sao Hà Thành</h2>
                <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng.</p>
            </div>
            <div class="row  service-1-box-item">
                <div class="box-item">
                    @*<div class="col-md-5 box-left">
                        <div class="box-left-img">
                            <img style="height:338px;width:100%" class="img-responsive" src="~/img/service-img-big-1.png" />
                        </div>
                        <h5>
                            <a href="#">
                                Dịch vụ thu gọn đầu ti
                            </a>
                        </h5>
                    </div>*@
                    <div class="col-md-12 box-right">
                        @*<div class="text-content">
                            <p>
                                Hầu hết chị em phụ nữ luôn gặp vấn đề với vòng một sau khi sinh con. Việc cho con bú và sự thay đổi nội tiết trong cơ thể đã khiến bầu ngực của bạn chảy sệ, quầng vú nhăn nheo, thâm đen, xù xì, núm vú gục xuống… nhìn mất thẩm mỹ.
                            </p>
                            <p>
                                Chính vì thế, với mong muốn khắc phục nhược điểm này. Rất nhiều chị em đã tìm đến các thẩm mỹ viện uy tín để thu nhỏ quầng vú.
                            </p>
                        </div>*@
                        <div class="img-item">
                            @*<h4>Các dịch vụ nâng ngực khác</h4>*@
                            <div class="row">
                                <div class="col-md-3 col-xs-6 img-item-c">
                                    <div class="thumb-item">
                                        <img class="img-big-about4 img-responsive" src="~/img/s-1.png" />
                                    </div>
                                    <div class="item-title-img">
                                        <h6>
                                            <a href="#">
                                                Dịch vụ thu gọn đầu ti
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 img-item-c">
                                    <div class="thumb-item">
                                        <img class="img-big-about4 img-responsive" src="~/img/s-2.png" />
                                    </div>
                                    <div class="item-title-img">
                                        <h6>
                                            <a href="#">
                                                Dịch vụ thu gọn đầu ti
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 img-item-c">
                                    <div class="thumb-item">
                                        <img class="img-big-about4 img-responsive" src="~/img/s-3.png" />
                                    </div>
                                    <div class="item-title-img">
                                        <h6>
                                            <a href="#">
                                                Dịch vụ thu gọn đầu ti
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 img-item-c">
                                    <div class="thumb-item">
                                        <img class="img-big-about4 img-responsive" src="~/img/s-4.png" />
                                    </div>
                                    <div class="item-title-img">
                                        <h6>
                                            <a href="#">
                                                Dịch vụ thu gọn đầu ti
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>

<div class="service-2">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="col-md-8">
                <div class="featured-text">
                    <h2> Ưu điểm của Nâng Ngực tại Sao Hà Thành</h2>
                    <p>
                        Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 ser-item-c">
                        <div class="box-col-8-item">
                            <div class="num-ber-item"> 01</div>
                            <div class="box-col-8-item-title">
                                <h5>
                                    Vòng 1 căng tròn
                                    mềm mại, tự nhiên
                                </h5>
                            </div>
                        </div>
                        <p>
                            Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                        </p>
                    </div>
                    <div class="col-md-4 ser-item-c">
                        <div class="box-col-8-item">
                            <div class="num-ber-item"> 02</div>
                            <div class="box-col-8-item-title">
                                <h5>
                                Kéo dài độ bền
                                </h5>
                            </div>
                        </div>
                        <p>
                            Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                        </p>
                    </div>

                    <div class="col-md-4 ser-item-c">
                        <div class="box-col-8-item">
                            <div class="num-ber-item"> 03</div>
                            <div class="box-col-8-item-title">
                                <h5>
                                  An toàn tuyệt đối
                                </h5>
                            </div>
                        </div>
                        <p>
                            Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <img style="margin-top: 20px;" class="img-big-about4 img-responsive" src="~/img/service-girl-1.png" />
            </div>
            </div>
       
        </div>
    </div>
<div class="service-3">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="col-md-6 service-3-left">
                <img class="img img-responsive" src="~/img/Visao-1.png" />
            </div>
            <div class="col-md-6">
                <div class="text-center featured-text">
                    <h2> Vì sao lại chọn Sao Hà Thành</h2>
                    <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm</p>
                </div>
                <div class="row wrapcus">
                    <div class="single">
                        <div class="thumb">
                            <img src="~/img/visao-2.png" />
                        </div>
                        <div class="">
                            <h5 class="ykkh-title">
                                Nghỉ dưỡng phẫu thuật
                            </h5>
                            <p>
                                Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="single">
                        <div class="thumb">
                            <img src="~/img/visao-2.png" />
                        </div>
                        <div class="">
                            <h5 class="ykkh-title">
                                Nghỉ dưỡng phẫu thuật
                            </h5>
                            <p>
                                Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="single">
                        <div class="thumb">
                            <img src="~/img/visao-2.png" />
                        </div>
                        <div class="">
                            <h5 class="ykkh-title">
                                Nghỉ dưỡng phẫu thuật
                            </h5>
                            <p>
                                Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="single">
                        <div class="thumb">
                            <img src="~/img/visao-2.png" />
                        </div>
                        <div class="">
                            <h5 class="ykkh-title">
                                Nghỉ dưỡng phẫu thuật
                            </h5>
                            <p>
                                Với sứ mệnh cao cả, Bệnh viên thẩm mỹ Sao Hà Thành không ngừng cải tiến và nâng cao chất lượng cho khách hàng.
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
<div class="service-4">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Quy trình nâng ngực tại Sao Hà Thành</h2>
                <p>Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng</p>
            </div>
            <div class="row text-center box-img">
                <div class="">
                    <div class="col-md-5ths col-xs-6">

                        <div class="img-style-blue ">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="img-circle-title">
                            Thăm khám và tư vấn
                            với bác sĩ
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-5ths col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="img-circle-title">
                            Thăm khám và tư vấn
                            với bác sĩ
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-5ths col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="img-circle-title">
                            Thăm khám và tư vấn
                            với bác sĩ
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-5ths col-xs-6">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="img-circle-title">
                            Thăm khám và tư vấn
                            với bác sĩ
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>
                    <div class="col-md-5ths col-xs-6 ">

                        <div class="img-style-blue">
                            <img class="img-circle" src="~/img/Layer 30.png" />
                        </div>
                        <div class="img-circle-title">
                            Thăm khám và tư vấn
                            với bác sĩ
                        </div>
                        <p>
                            Phẫu thuật tạo hình với phương châm đem lại sự hài lòng với vẻ đẹp của khách hàng
                        </p>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>


<div class="service-6">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="text-center featured-text">
                <h2> Hình ảnh trước và sau của Khách Hàng</h2>
                <p>
                    Với sứ mệnh cao cả, Bệnh viên thẩm mỹ <span class="text-sht"> Sao hà thành</span> không ngừng cải tiến và nâng cao chất lượng dịch vụ, chất lượng y bác sĩ, chất lượng sản phẩm nhằm mang đến sự hài lòng tuyệt đối và vẻ đẹp viên mãn nhất cho khách hàng.
                </p>
            </div>
            <div class="row text-center sec-2-box-item">
                <div class="box-img">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-5">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="col-md-6 service-5-left">
                <div class="">
                    <div class="col-md-12 box-form">
                        <div class="col-md-6">

                            
                        </div>
                        <div class="col-md-6 form-res">
                            <article class="card-body">
                                <form>
                                    <h3>Đăng ký nhận tư vấn</h3>
                                    <div class="form-group">
                                        <label>Họ và tên </label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> <!-- form-row end.// -->
                                    <div class="form-group">
                                        <label>Nhập số điện thoại</label>
                                        <input type="email" class="form-control" placeholder="">
                                        @*<small class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                                    </div> <!-- form-group end.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="addres" value="option1">
                                                <span class="form-check-label"> Hà Nội </span>
                                            </label>
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="addres" value="option2">
                                                <span class="form-check-label"> TPHCM</span>
                                            </label>
                                        </div> <!-- form-group end.// -->
                                    </div>
                                <!-- form-group end.// -->
                                    <!-- form-row.// -->
                                    <div class="form-group">
                                        <label>Dịch vụ quan tâm</label>
                                        <input class="form-control" type="password">
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group group-btn-submit">
                                        <button type="submit" class="btn btn-submit  btn-block"> Đăng ký ngay  </button>
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <small class="text-muted">Tư vấn trực tiếp 24/7 0833.52. 8888 </small>
                                    </div>

                                </form>
                            </article> <!-- card-body end .// -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 service-5-right">
                <div class=" featured-text">
                    <h3> Câu hỏi thưởng gặp</h3>
                    <div class="row collapse-1">
                        <div class="panel-group accordion" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" aria-expanded="true"> Lựa chọn túi nâng ngực loại nào tốt </a>
                                    </h4>
                                </div>
                                <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                    <div class="panel-body">
                                        <p>rên thị trường hiện nay có một vài loại túi nâng ngực phổ biến, như:</p>
                                        <p>
                                            Túi trơn: Được sử dụng phổ biến trong nâng vòng 1 với ưu điểm các bác sĩ dễ dàng thực hiện thao tác đặt túi khi nâng vòng 1.
                                        </p>
                                        <p>
                                            Túi nhám: Lớp bên ngoài của túi được bọc 1 lớp nhám có ưu điểm độ bám dính vô cùng tốt vào mô vòng 1 nên đảm bảo không bị dịch chuyển túi.
                                        </p>
                                        <p>
                                            Túi xốp: Túi có bề mặt trơn và được phủ bên ngoài 1 lớp micro polyurethane 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" aria-expanded="false"> Lựa chọn túi nâng ngực loại nào tốt </a>
                                    </h4>
                                </div>
                                <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body" style="">
                                        <p>rên thị trường hiện nay có một vài loại túi nâng ngực phổ biến, như:</p>
                                        <p>
                                            Túi trơn: Được sử dụng phổ biến trong nâng vòng 1 với ưu điểm các bác sĩ dễ dàng thực hiện thao tác đặt túi khi nâng vòng 1.
                                        </p>
                                        <p>
                                            Túi nhám: Lớp bên ngoài của túi được bọc 1 lớp nhám có ưu điểm độ bám dính vô cùng tốt vào mô vòng 1 nên đảm bảo không bị dịch chuyển túi.
                                        </p>
                                        <p>
                                            Túi xốp: Túi có bề mặt trơn và được phủ bên ngoài 1 lớp micro polyurethane
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" aria-expanded="false"> Lựa chọn túi nâng ngực loại nào tốt </a>
                                    </h4>
                                </div>
                                <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>rên thị trường hiện nay có một vài loại túi nâng ngực phổ biến, như:</p>
                                        <p>
                                            Túi trơn: Được sử dụng phổ biến trong nâng vòng 1 với ưu điểm các bác sĩ dễ dàng thực hiện thao tác đặt túi khi nâng vòng 1.
                                        </p>
                                        <p>
                                            Túi nhám: Lớp bên ngoài của túi được bọc 1 lớp nhám có ưu điểm độ bám dính vô cùng tốt vào mô vòng 1 nên đảm bảo không bị dịch chuyển túi.
                                        </p>
                                        <p>
                                            Túi xốp: Túi có bề mặt trơn và được phủ bên ngoài 1 lớp micro polyurethane
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4" aria-expanded="false"> Lựa chọn túi nâng ngực loại nào tốt </a>
                                    </h4>
                                </div>
                                <div id="collapse_4" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>rên thị trường hiện nay có một vài loại túi nâng ngực phổ biến, như:</p>
                                        <p>
                                            Túi trơn: Được sử dụng phổ biến trong nâng vòng 1 với ưu điểm các bác sĩ dễ dàng thực hiện thao tác đặt túi khi nâng vòng 1.
                                        </p>
                                        <p>
                                            Túi nhám: Lớp bên ngoài của túi được bọc 1 lớp nhám có ưu điểm độ bám dính vô cùng tốt vào mô vòng 1 nên đảm bảo không bị dịch chuyển túi.
                                        </p>
                                        <p>
                                            Túi xốp: Túi có bề mặt trơn và được phủ bên ngoài 1 lớp micro polyurethane
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>