<footer>
    <div class="container">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 introduce-company">
            <h1>THẨM MỸ VIỆN SAO HÀ THÀNH</h1>
            <p>Sao Hà Thành là đơn vị được Sở Y tế cấp giấy phép hoạt động trong lĩnh vực phẫu thuật thẩm mỹ, thời gian làm việc từ 8h - 21h tất cả các ngày trong tuần</p>
            @*<h1>Đối tác chúng tôi gồm: </h1>*@
            <div class="info-item">
                <div class="icon-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <ul class=" list-img-payment">
                    <li>
                        Trụ sở: 29A Cao Bá Nhạ, Quận 1, TP. HCM.
                    </li>
                    <li>
                        CN Phía Nam: 222, Đường 3/2, Quận 10, TP.HCM.
                    </li>
                    <li>
                        CN Phía Nam: 222, Đường 3/2, Quận 10, TP.HCM.
                    </li>
                    <li>
                        CN Phía Bắc: 41 Trích Sài, Tây Hồ, Hà Nội.
                    </li>
                    <li>
                        CN Phía Bắc: 41 Trích Sài, Tây Hồ, Hà Nội.
                    </li>
                    <li>
                        CN Phía Bắc: 41 Trích Sài, Tây Hồ, Hà Nội.
                    </li>
                </ul>
            </div>

            <div class="info-item">
                <div class="icon-item">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="info-text">
                    <p>Điện thoại: 0833.52.8888</p>
                </div>
            </div>
            <div class="info-item">
                <div class="icon-item">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="info-text">
                    <p>Email: sht@mdcgroup.vn</p>
                </div>
            </div>
            <div class="info-item">
                <div class="icon-item">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="info-text">
                    <p>Website: saohathanh.com.vn</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 fan-fage-fb text-center">
            <h1>Liên kết mạng xã hội</h1>
            <div class="instagram-top-list cf">
                <div class="fb-page" data-href="https://www.facebook.com/thammy.saohathanh" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thammy.saohathanh/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thammy.saohathanh/">Facebook của Thẩm mỹ viện Sao Hà Thành</a></blockquote></div>
            </div>
            <div class="social-content">
                <p> Theo dõi chúng tôi qua:</p>
                <div class="social-footer social">
                    <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class=" bottom-footer">
        <div class="container">
            <p>© 2018 - Công ty cổ phần Sao Hà Thành</p>
        </div>
    </div>
</footer>