<div class="header">

    <div class="header-top">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a class="logo" href="/"><img style=" width: 180px" class=" svg img-responsive" src="/UITheme/assets/images/imgroyalspa/logo3.png" alt="sao ha thanh"></a>
                @*<header>
                        <img src="~/img/logo3.png" />
                    </header>*@
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <p class="open-door">
                        Mở của từ 8:30 - 21:00 hàng ngày
                    </p>
                </div>
                <div class="col-md-7">
                    <form>
                        <div class="seach">
                            <input type="text" name="" class="input-seach " placeholder="Nhập từ khóa tìm kiếm...">
                            <div class="seach-icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="social">
                        <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><span class="top-icon t-fb"></span></a>
                        <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><span class="top-icon t-fb"></span></a>
                        <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><span class="top-icon t-fb"></span></a>
                        <a target="_blank" href="https://www.facebook.com/thammy.saohathanh/"><span class="top-icon t-fb"></span></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- header-top -->
    <div class="header-center">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a style="display:none" class="navbar-brand navbar-logo" href="http://getbootstrap.com/examples/starter-template/#">
                                <img class="logo-mobile svg img-responsive" src="/UITheme/assets/images/imgroyalspa/logo3.png" alt="sao ha thanh">
                            </a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <a href="gioi-thieu.html">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Giới thiệu</span>
                                    </a>
                                </li>

                                <li>

                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu">Mặt</span>
                                    </a>
                                    <ul>
                                        <li><a href="#">About sub 1</a></li>
                                        <li>
                                            <a href="#">About sub 2</a>
                                            <ul>
                                                <li><a href="#">About sub 2-1</a></li>
                                                <li><a href="#">About sub 2-2</a></li>
                                                <li>
                                                    <a href="#">About sub 2-3</a>
                                                </li>
                                                <li><a href="#">About sub 2-4</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Mắt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Da</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Mũi </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu">Mặt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Ngực</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Bụng</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Vùng Bikini</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Câu chuyện <br />khách hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="lien-he.html">
                                        <img src="~/img/Layer 111.png" /><br />
                                        <span class="text-menu"> Liên hệ</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>

            </div>
        </div>
        @*<div class="hot-line">
            <div>Tư vấn ngay</div>
            <div></div>
        </div>*@
    </div>
</div>