/*.sp-page-builder .page-content #section-id-1486436369 {
    margin: 0 0 0 0;
    padding: 40px 0 0 0
}*/

#column-id-1486436370 {
    padding: 0 1px 0 0
}

#column-id-1487914158384 {
    padding: 0 0 0 1px
}

.sp-page-builder .page-content #section-id-1488090140659 {
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 40px 0px
}

#sppb-addon-1488115140987 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 14px
}

#sppb-addon-1488298108486 .sppb-empty-space {
    padding-bottom: 15px
}

#sppb-addon-1488342787388 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px
}

#gk-tabs-142 .gkTabsContainer0, #gk-tabs-142 .gkTabsContainer1, #gk-tabs-142 .gkTabsContainer2 {
    height: 200px
}

#sppb-addon-1488298108491 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

#column-id-1488090140661 {
    padding: 0 0 0 20px
}

#sppb-addon-1488254869688 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

#sppb-addon-1488254869699 .sppb-empty-space {
    padding-bottom: 60px
}

#sppb-addon-1488254869680 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

#sppb-addon-1488719302053 .sppb-empty-space {
    padding-bottom: 40px
}

#sppb-addon-1488254869659 {
    padding: 0 0 0 0
}

#sppb-addon-1488254869666 .sppb-empty-space {
    padding-bottom: 50px
}

#sppb-addon-1488719302050 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

.sp-page-builder .page-content #section-id-1488298108505 {
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0
}

.sp-page-builder .page-content #section-id-1488719302064 {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 40px 0px
}

#column-id-1488719302065 {
    padding: 0 10px 0 0
}

#sppb-addon-1488298108521 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 14px
}

#column-id-1488719302066 {
    padding: 0 5px 0 5px
}

#sppb-addon-1488769224180 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 14px
}

#column-id-1488719302067 {
    padding: 0 0 0 10px
}

#sppb-addon-1488769224189 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 14px
}

.sp-page-builder .page-content #section-id-1488769224194 {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 60px 0px;
    color: rgba(255,255,255,1);
    background-color: rgba(28,28,28,1)
}

#sppb-addon-1488769224198 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase
}

.sp-page-builder .page-content #section-id-1488298108512 {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 20px 0px
}

#sppb-addon-1488899089298 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

#column-id-1488298108514 {
    padding: 0 0 0 20px
}

#sppb-addon-1488090140675 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 30px
}

#sppb-addon-1488934481900 .sppb-empty-space {
    padding-bottom: 40px
}

#sppb-addon-1488899089305 {
    padding: 0 0 0 0
}

#sppb-addon-1488899089305 .sppb-addon-title {
    margin-top: 0px;
    margin-bottom: 35px
}

.sp-page-builder .page-content #section-id-1488951023817 {
    margin: 0px 0px 0px 0px;
    padding: 0 0 50px 0
}

body {
    font-family: Roboto, Open Sans,sans-serif;
    font-size: 14px;
    font-weight: normal
}

h1 {
    font-family: Roboto, Didact Gothic,sans-serif;
    font-weight: normal
}

h2 {
    font-family: Roboto, Arimo,sans-serif;
    font-weight: 700
}

h3 {
    font-family: Roboto, Arimo,sans-serif;
    font-weight: 700
}

h4 {
    font-family: Roboto, Arimo,sans-serif;
    font-weight: 700
}

h5 {
    font-family: Roboto, Open Sans,sans-serif;
    font-weight: 600
}

h6 {
    font-family: Roboto, Open Sans,sans-serif;
    font-weight: 600
}

#gk-tabs-159 .gkTabsContainer0, #gk-tabs-159 .gkTabsContainer1, #gk-tabs-159 .gkTabsContainer2 {
    height: 200px
}

#gk-tabs-159 .gkTabsWrap > ol {
    width: 200px
}

#sp-trending-news {
    background-color: #272727;
    color: #fff;
    padding: 10px 15px
}

#sp-header {
    padding: 25px 0
}

#sp-bottom {
    background-color: #1c1c1c;
    color: #969696;
    padding: 70px 0 40px
}

#sp-footer-logo {
    background-color: #1c1c1c;
    color: #969696;
    padding: 0 0 40px
}

#sp-footer {
    padding: 15px 0
}

.sp-page-builder .page-content #section-id-1488980112478 {
    margin: 0px 0px 0px 0px;
    padding: 0 0px 0 0px
}

#column-id-1488980112479 {
    padding: 0 250px 0 250px
}

#sppb-addon-1488980112483 {
    margin: 0 0 20px 0
}

#sppb-addon-1488981076967 {
    margin: 15px 0 0 0
}